    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>   
    <script src="/js/Akce-pojistence.js"></script>
    <script src="/js/Akce-pojisteni.js"></script>
    <script src="/js/obsluha.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>   
  </body>
</html>     