<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pojištění</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container-fluid bg-primary py-2 text-white">
        <div
          class="container d-flex flex-column flex-md-row justify-content-between align-items-center text-center"
        >
          <div>
            <p class="lead fw-bold mb-1">Martin Beňa</p>
            <h1>Zkušený pojišťovák</h1>
          </div>
          <div><p class="exp">20 let zkušeností</p></div>
          <div
            class="contact d-flex flex-row flex-md-column align-items-center justify-content-between"
          >
            <p class="me-3 me-md-0">
              <a href="tel:+420728717042"
                ><i class="fa-solid fa-phone"></i>
                <span class="d-none d-md-inline">728 717 042</span></a
              >
            </p>
            <p>
              <a href="mailto:Bena.M@seznam.cz"
                ><i class="fa-solid fa-envelope"></i>
                <span class="d-none d-md-inline">Bena.M@seznam.cz</span></a
              >
            </p>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
